@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

/* Layout for admin dashboard skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-success);
    transition: all 0.35s ease-in-out;
    position: fixed;
    overflow-y: auto;
}

#sidebar-item {
    max-width: 200px;
    min-width: 200px;
    background: var(--bs-success);
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: var(--bs-success-bg-subtle);
    margin-left: 264px;
}

.logo-responsive {
    margin: auto;
    width: 25px;
}

/* Sidebar Elements Style */

.sidebar-logo {
    padding-top: 1.4rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.sidebar-logo a {
    color: antiquewhite;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 3px;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: palegreen;
    font-size: 1.2rem;
    padding: 1rem 1.55rem 1rem;
    font-weight: bold;
}

a.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: antiquewhite;
    position: relative;
    display: block;
    font-size: 0.9rem;
}

a.sidebar-link.active,
a.sidebar-link:hover {
    background-color: #16633f;
    color: white;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

.avatar {
    height: 30px;
    width: 30px;
}

.navbar {
    background-color: #009e60;
}

.navbar-btn {
    border-radius: 5px;
    border-color: palegreen;
    background-color: #00a86b;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

/* Sidebar Toggle */

#sidebar.collapsed {
    margin-left: -264px;
    width: 80px;
}

.main.expanded {
    margin-left: 0;
    min-width: 0;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width: 767px) {
    .content {
        max-width: auto;
        width: auto;
    }
    /* Jika lebar viewport lebih besar dari 767px, sidebar akan memiliki lebar tetap */
    .js-sidebar {
        width: 264px;
        position: fixed;
        transition: all 0.35s ease-in-out;
    }
}

@media (max-width: 767px) {
    .js-sidebar {
        transition: all 0.35s ease-in-out;
        z-index: 2;
    }

    #sidebar.collapsed {
        margin-left: 0;
        transform: translateX(-100%); /* Sidebar collapsed (minimized) */
    }

    .navbar,
    footer {
        width: 100vw;
    }

    .content {
        width: auto; /* Lebar main content menjadi 100% */
    }
}

.card {
    box-shadow: 0 0 0.875rem 0 rgba(34, 46, 60, 0.05);
    margin-bottom: 10px;
}

footer {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: auto;
}

.pagination {
    margin-left: 0.5rem;
}

.pagination .page-link {
    font-size: 0.875rem;
    padding: 0.125rem 0.75rem 0.125rem 0.75rem;
}
